@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: myFont;
  src: url(src/assets/fonts/gilmer-outline.otf);
}
@font-face {
  font-family: myFontRus;
  src: url(src/assets/fonts/lack-line-regular.otf);
}
@font-face {
  font-family: myFontRus_two;
  src: url(src/assets/fonts/BitterPro-SemiBold.ttf);
}
